
derivative/bin/x64/Debug/derivative.ilk
derivative/build/x64/Debug/derivative.Build.CppClean.log
derivative/build/x64/Debug/derivative.tlog/CL.read.1.tlog
*.tlog
.vs/derivative/v16/.suo
*.db
*.ipch
*.pdb
*.recipe
*.log
*.txt
*.obj
*.idb
derivative/derivative.vcxproj.user
derivative/derivative.vcxproj.filters
derivative.sln
derivative/bin/x64/Debug/derivative.exe
derivative/bin/x64/Debug/derivative.exe
