
*.ipch
*.ilk
*.exe
*.db
derivative/bin/x64/Debug/derivative.exe
.vs/derivative/v16/.suo
*.pdb
*.log
*.recipe
*.tlog
*.txt
derivative/build/x64/Debug/Main.obj
derivative/build/x64/Debug/vc142.idb
*.filters
*.user
derivative/.vs/derivative/v16/.suo
derivative/bin/x64/Debug/derivative.exe
*.sln
*.vcxproj
